.card {
	border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5 {
	color: #37c09a;
}

.form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	box-shadow: none !important;
	border-radius: 0;
}

.split {
	border-right: 1px solid #c1c3c7;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(17, 20, 24, 0.7);
	z-index: 2;
}

.title,
.title strong,
.title span {
	font-size: 3rem !important;
}

.subTitle {
	font-size: 1.5rem !important;
}
.subTitle hr {
	width: 100px;
	border-top: 2px solid;
}
.page-head {
	margin-bottom: 30px;
}

.text-background {
	left: 0;
	right: 0;
	opacity: 0.2;
	z-index: 0;
}

.text-background + p {
	font-family: "Oxygen-Bold", sans-serif;
	z-index: 1;
}
