.wrapper {
	flex: 1 1 auto;
	position: relative;
	padding-left: 25%;
}

@media (max-width: 767px) {
	.wrapper {
		padding-left: 0;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		padding-left: 20%;
	}
}
