@font-face {
	font-family: "Oxygen-light";
	src: url("../fonts/Oxygen-Light.ttf");
}

@font-face {
	font-family: "Oxygen-regular";
	src: url("../fonts/Oxygen-Regular.ttf");
}

@font-face {
	font-family: "Oxygen-Bold";
	src: url("../fonts/Oxygen-Bold.ttf");
}

* {
	font-family: "Oxygen-light", sans-serif;
	font-size: 11pt;
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	* {
		font-size: 11pt;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	* {
		font-size: 12pt;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	* {
		font-size: 12pt;
	}
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	* {
		font-size: 13pt;
	}
}

/* XX-Large devices (larger desktops, 1400px and up*/
@media (min-width: 1400px) {
	* {
		font-size: 14pt;
	}
}
